In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import matplotlib as mpl

In [2]:
mpl.rc('font',family='Noto Sans CJK TC')

In [3]:
df = pd.read_csv('http://stats.moe.gov.tw/files/detail/107/107_student.csv')

In [4]:
df.head()

,大專校院校別學生數,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,107 學年度 SY2018-2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,學校代碼,學校名稱,日間∕進修別,等級別,總計,男生計,女生計,一年級男生,一年級女生,二年級男生,...,五年級男生,五年級女生,六年級男生,六年級女生,七年級男生,七年級女生,延修生男生,延修生女生,縣市名稱,體系別
2,0001,國立政治大學,D 日,D 博士,965,551,414,96,85,82,...,71,52,58,46,74,40,-,-,30 臺北市,1 一般
3,0001,國立政治大學,D 日,M 碩士,"3,998","1,854","2,144",624,742,632,...,-,-,-,-,-,-,-,-,30 臺北市,1 一般
4,0001,國立政治大學,D 日,B 學士,"9,630","3,983","5,647",899,"1,287",890,...,-,-,-,-,-,-,326,463,30 臺北市,1 一般

In [5]:
colnames=df.loc[1].values

In [6]:
colnames

array(['學校代碼', '學校名稱', '日間∕進修別', '等級別', '總計', '男生計', '女生計', '一年級男生',
       '一年級女生', '二年級男生', '二年級女生', '三年級男生', '三年級女生', '四年級男生', '四年級女生',
       '五年級男生', '五年級女生', '六年級男生', '六年級女生', '七年級男生', '七年級女生', '延修生男生',
       '延修生女生', '縣市名稱', '體系別'], dtype=object)